
    <img src="assets/icons/sceiba.footer.top.2.svg" alt="" style="margin-bottom: -8px; width: 100%;">
    <div class="w-100 bg-primary-color" fxLayout="row wrap" fxLayout.mx="column" fxLayoutAlign="center center">

        <div
            fxLayout="row wrap"
            fxLayout.mx="column"
            fxLayoutAlign="space-between center"
            fxLayoutGap="20px"
            style="width:100%"
        >
            <div class="footer-logo" fxFlex=30% fxLayoutAlign="center center" fxLayout="row">
                <img src="/assets/images/tocororo.png" alt="Tocororo" width="50" height="50">
                <span class="text-initial" style="max-width: 30em; padding-left: 10px; color: white;">
                    Proyecto Tocororo, un esfuerzo por la comunicación científica en Cuba. </span>
            </div>
            <div class="footer-social"fxLayout="row wrap" fxFlex.xs="100%" fxLayoutAlign="center center" fxLayoutGap="1em">
                <a mat-mini-fab href="https://www.facebook.com/sceiba/" target="_blank" color="accent" matTooltip="Facebook">
                    <mat-icon svgIcon="facebook" class="mat-18"></mat-icon>
                </a>
                <a mat-mini-fab href="https://twitter.com/SceibaCu" target="_blank" color="accent" matTooltip="Twitter">
                    <mat-icon svgIcon="twitter" class="mat-18"></mat-icon>
                </a>
                <a mat-mini-fab href="https://github.com/tocororo" target="_blank" color="accent" matTooltip="GitHub">
                    <mat-icon svgIcon="github" class="mat-18">home</mat-icon>
                </a>
            </div>
        </div>

        <mat-toolbar class="footer-height" fxLayout="row wrap" fxLayout.mx="column" fxLayoutAlign="center center" color="primary">
            <mat-toolbar-row
                fxLayout="row wrap"
                fxLayout.xs="column"
                fxLayoutAlign="center center"
                fxLayoutGap="16px">
                <!-- <span class="text-large">Sitios de Interés</span> -->
                <ng-container *ngFor="let item of sites">
                    <a mat-button
                        class="aling-left"
                        *ngIf="item.useRouterLink"
                        [routerLink]="[item.url]"
                        [ngStyle]="{'line-height': 'initial', 'padding': '10px 16px'}"
                        [ngStyle.xs]="{width: 'inherit'}"
                    >
                        {{ item.name }}
                    </a>
                    <a mat-button
                        class="aling-left"
                        *ngIf=" ! item.useRouterLink"
                        href="{{ item.url }}"
                        target="_blank"
                        [ngStyle]="{'line-height': 'initial', 'padding': '10px 16px'}"
                        [ngStyle.xs]="{width: 'inherit'}"
                    >
                        {{ item.name }}
                    </a>
                </ng-container>
            </mat-toolbar-row>

            <mat-toolbar-row
                fxLayout="row wrap"
                fxLayout.xs="column"
                fxLayoutAlign="center center"
                fxLayoutGap="16px">
                <ng-container *ngFor="let item of information">
                    <a mat-button
                        class="aling-left"
                        [routerLink]="[item.url]"
                        *ngIf="item.useRouterLink"
                        [ngStyle]="{'line-height': 'initial', 'padding': '10px 16px'}"
                        [ngStyle.xs]="{width: 'inherit'}"
                    >
                        {{ item.name }}
                    </a>
                    <a mat-button
                        class="aling-left"
                        *ngIf=" ! item.useRouterLink"
                        href="{{ item.url }}"
                        target="_blank"
                        [ngStyle]="{'line-height': 'initial', 'padding': '10px 16px'}"
                        [ngStyle.xs]="{width: 'inherit'}"
                    >
                        {{ item.name }}
                    </a>
                </ng-container>
            </mat-toolbar-row>
            <mat-toolbar-row fxLayout="row wrap" fxFlex="100%" fxLayoutAlign="center center">
                <p class="mat-h5" style="width: 80%; text-align: center; color:white; margin: 0; padding-top: 40px;">
                    Sceiba es de código y acceso abierto y distribuye sus contenidos,
                    <br>a no ser que se indique lo contrario, bajo la Licencia <a class="a-grey" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">  Creative Commons CC by 4.0</a>
                </p>
            </mat-toolbar-row>

        </mat-toolbar>

    <div fxLayout="column wrap" fxLayoutAlign="center center" style="padding: 1em;">
        <a href="https://sceiba.cu"style="color: rgb(0, 0, 0, 0.87); text-decoration: none;">
            <img src="/assets/icons/sceiba_white.svg" alt="Sceiba" width="120" height="50">
        </a>
        <p class="mat-h5" style="width: 80%; text-align: center; color:white; margin: 0;">
            Portal de publicaciones científicas cubanas
            <br>
            <small>
                Desarrollado con
                <a class="a-grey" href="https://invenio-software.org/" target="_blank">Invenio</a>
                y <a class="a-grey" href="https://angular.io/" target="_blank">Angular</a>
            </small>
        </p>

    </div>

</div>

<!-- <span class="text-initial" style="max-width: 30em; text-align: center;">Proyecto Nacional Tocororo, un esfuerzo por la comunicación científica en Cuba. </span> -->
