<form [formGroup]="formGroup" [ngStyle]="{'width': width}">

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Escriba el correo electrónico" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Asunto</mat-label>
        <input matInput placeholder="Escriba el asunto a tratar" formControlName="topic">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Cuerpo</mat-label>
        <textarea matInput placeholder="Escriba el cuerpo del mensaje" rows="{{ rows }}" formControlName="body"></textarea>
    </mat-form-field>

    <re-captcha (resolved)="resolved($event)" siteKey="{{ siteKey }}"></re-captcha>

    <button mat-raised-button (click)="send()" color="primary">
        <mat-icon matPrefix>send</mat-icon>
        Enviar
    </button>
</form>