
<mat-toolbar class="mat-elevation-z6" color="primary" style="position: relative; z-index: 2;">

  <mat-toolbar-row
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      style="height: auto !important; min-height: 80px;"
  >
    <div style="width: 190px; display: flex; align-items: center;">
        <div class="triangle">
            <span matTooltipClass="tooltip-beta-red" matTooltip="Este es un producto BETA configurado con propósitos de prueba.
            Algunas características pueden no funcionar correctamente."> <strong> BETA </strong> </span>
        </div>
        <a class="color-white" [routerLink]="['/']" style="white-space: normal;">
            <img src="/assets/images/sceiba-logo-white.png" alt="Sceiba" style="height: 40px;">
        </a>
    </div>
    <div
      appearance="legacy"
      aria-label="Menu de Inicio"
      fxLayout="row wrap"
      fxLayoutGap="15px"
    >
    <!-- <a class="color-white" [routerLink]="['/']" style="white-space: normal">
      Sceiba

    </a> -->
    </div>

    <div
        class="center-elements"
        appearance="legacy"
        aria-label="Menu de Inicio"
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxLayoutGap="15px"
    >

      <button mat-icon-button [matMenuTriggerFor]="menuApps" matTooltip="Aplicaciones">
        <mat-icon>apps</mat-icon>
      </button>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menuNetwork" matTooltip="Redes Sociales">
          <mat-icon>share</mat-icon>
      </button> -->

      <button mat-icon-button [matMenuTriggerFor]="menuHelp" matTooltip="Ayuda">
          <mat-icon class="mat-18">help</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menuLogin" matTooltip="Usuario">
          <mat-icon class="mat-18">account_circle</mat-icon>
      </button>

    </div>

  </mat-toolbar-row>

</mat-toolbar>


<!-- <mat-menu #menuNetwork="matMenu">
  <a mat-menu-item href="https://www.facebook.com/sceiba/" target="_blank">
      Facebook
  </a>
  <a mat-menu-item href="https://twitter.com/SceibaCu" target="_blank">
      Twitter
  </a>
  <a mat-menu-item href="https://github.com/tocororo"
    target="_blank">
      GitHub
  </a>
</mat-menu> -->

<mat-menu #menuHelp="matMenu">
  <!-- <a mat-menu-item [routerLink]="['/help']">
      <mat-icon>help_outline</mat-icon>
      Ayuda
  </a> -->
  <a mat-menu-item [routerLink]="['/about']">
    <mat-icon>info</mat-icon>
    Acerca de
  </a>
  <a mat-menu-item [routerLink]="['/policy']">
      <mat-icon>security</mat-icon>
      Privacidad
  </a>

  <a mat-menu-item [routerLink]="['/contact']">
      <mat-icon>contacts</mat-icon>
      Contactos
  </a>
</mat-menu>

<mat-menu #menuLogin="matMenu">

    <a mat-menu-item href="{{ urlLogin }}">
        <mat-icon>lock</mat-icon>
        Autenticarse
    </a>
    <a mat-menu-item href="{{ urlSignUp }}">
        <mat-icon>assignment_ind</mat-icon>
        Registarse
    </a>
  </mat-menu>

<mat-menu #menuApps="matMenu">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <a href="https://sceiba.cu" target="__blanck" class="apps" matTooltip="Sceiba">
        <img  class="app-featured" src="/assets/icons/sceiba.svg" alt="Sceiba" style="width: 55px; height: 55px;">
    </a>
    <mat-divider class="w-90"></mat-divider>

    <a href="https://catalogo.sceiba.cu" target="__blanck" class="apps" matTooltip="Catálogo">
      <img src="/assets/icons/catalog.svg" alt="Catálogo" style="width: 55px; height: 55px;">
    </a>
    <a href="https://orgs.sceiba.cu" target="__blanck" class="apps" matTooltip="Organizaciones">
        <img src="/assets/icons/organizacion.svg" alt="Organizaciones" style="width: 55px; height: 55px;">
    </a>
    <a href="https://vocs.sceiba.cu" target="__blanck" class="apps" matTooltip="Vocabularios">
        <img src="/assets/icons/vocabs.svg" alt="Vocabularios" style="width: 55px; height: 55px;">
    </a>
    <mat-divider class="w-90"></mat-divider>
    <a href="https://sceiba.cu" target="__blanck" class="apps"  matTooltip="Registro de Revistas Científicas del MES">
        <img class="app-featured" src="/assets/icons/mes.svg" alt="Registro de Revistas Científicas del MES" style="width: 55px; height: 55px;">
    </a>
</div>
</mat-menu>

<router-outlet></router-outlet>

<div  [ngStyle]="{'margin-top': '2em'}">
  <app-footer [sites]="footerSites" [information]="footerInformation"></app-footer>
</div>
