<div class="agregations-modal-container" style="max-height: 500px;">
  <div class="header-modal">
    <mat-toolbar style="width: 100%; ">
      <h2 style="flex: auto;">Seleccione:</h2> <mat-paginator [length]="typesOfAgregations.size" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-toolbar>


  </div>

  <div class="list-modal-container">
    <mat-selection-list #agregations>
      <mat-list-option *ngFor="let agregation of typesOfAgregations">
        {{agregation}}
      </mat-list-option>
    </mat-selection-list>
  </div>


  <div class="footer">
    <p>
      Options selected: {{agregations.selectedOptions.selected.length}}
    </p>
  </div>








</div>