
<div fxLayout="column" fxLayoutAlign="center center">

    <div class="w-100 bg-primary-color" fxLayoutAlign="center center">
        <div class="pt-2em pb-2em ph-10">
            <h3 class="mat-display-2" style="margin: 0; text-align: center; color: white;">{{ 'PUB_CIENT_CUBANAS' | translate }}</h3>
        </div>
    </div>

    <!-- <div class="w-100 bg-primary-color" fxLayout="row" fxLayoutAlign="center center"> -->
    <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <div class="w-80" style="margin: 1em 0;">
            <toco-search-query-input [buttonColor]="'primary'" [query]="''" (queryChange)="queryChange($event)"></toco-search-query-input>
        </div>
    </div>

    <!-- <img src="assets/icons/sceiba.top.bottom.2.svg" alt="" style="margin-top: -4px; width: 100%;"> -->

    <!-- <div class="w-50 pt-50 ph-10" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <div  fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-label class="mat-display-4" style="margin-bottom: 0;">{{ documentTotal }}</mat-label>
            <mat-label class="mat-display-1 text-center" style="margin-left: .5em; margin-bottom: 0;">
                <p style="margin: 0;">Documentos</p>
                <p style="margin: 0;">Recolectados</p>
            </mat-label>
        </div>
        <div class="text-center right-stats">
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Organizaciones</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Personas</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Temáticas</div>
            </mat-label>
        </div>
    </div> -->

    <!-- SLIDES -->
    <div class="container">

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider1')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider2')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider3')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider4')"></div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">
            <mat-icon class="mat-18">navigate_before</mat-icon>
        </a>
        <a class="next" (click)="plusSlides(1)">
            <mat-icon class="mat-18">navigate_next</mat-icon>
        </a>

        <div style="text-align:center; margin-top: -20px;">
            <span class="dot" (click)="currentSlide(1)"></span>
            <span class="dot" (click)="currentSlide(2)"></span>
            <span class="dot" (click)="currentSlide(3)"></span>
            <span class="dot" (click)="currentSlide(4)"></span>
        </div>
    </div>

    <div class="pt-50" ngClass.xs="pt-20 ph-30 pb-20">
        <h1 class="mat-display-1 text-center" style="margin: 0;">{{ 'PROD_SERV' | translate }}</h1>
        <div class="pt-20" ngClass.xs="pt-5" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.xs="column">
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product1-image"></div>
                        <mat-card-title>{{ 'SCEIBA_CATALOGO' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'SCEIBA_CATALOGO_SUB' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.catalog')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="https://catalogo.sceiba.cu" target="_blank" class="apps" matTooltip="{{ 'CATALOGO' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product2-image"></div>
                        <mat-card-title>{{ 'SCEIBA_ORGANIZACIONES' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'SCEIBA_ORGANIZACIONES_SUB' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.orgs')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="https://organizaciones.sceiba.cu" target="_blank" class="apps" matTooltip="{{ 'ORGANIZACIONES' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product3-image"></div>
                        <mat-card-title>{{ 'SCEIBA_VOCABULARIOS' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'SCEIBA_VOCABULARIOS_SUB' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.vocabularios')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="https://vocabularios.sceiba.cu" target="_blank" class="apps" matTooltip="{{ 'VOCABULARIOS' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product4-image"></div>
                        <mat-card-title>{{ 'DIRECTORIO_MES' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'DIRECTORIO_MES_SUB' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.mes')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="https://revistasmes.sceiba.cu" target="_blank" class="apps" matTooltip="{{ 'REVISTAS_MES' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- <img src="assets/icons/sceiba.middle.top.svg" alt="" style="margin-bottom: -4px; width: 100%;"> -->
    <div class="w-100 bg-primary-color" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px; width: 100%;">
        <div class="w-70 white-title" fxLayout="center">
            <div class="p" markdown [src]="getPath('/assets/markdown/home.sceiba')"></div>
        </div>
    </div>
    <!-- <img src="assets/icons/sceiba.top.bottom.2.svg" alt="" style="margin-top: -4px; width: 100%;"> -->

    <div class="pt-50" ngClass.xs="pt-20 ph-30 pb-20">
        <h1 class="mat-display-1 text-center" style="margin: 0;">{{ 'PROXIMAMENTE' | translate }}</h1>
        <div class="cards-nexts" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.xs="column">
            <div fxFlex=25%>
                <mat-card class="bgtranparent">
                    <mat-card-header>
                        <div mat-card-avatar class="card1-header-image"></div>
                        <mat-card-title>{{ 'PERSONAS' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'PERSONAS_SUB' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.persons')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div fxFlex=25%>
                <mat-card class="bgtranparent">
                    <mat-card-header>
                        <div mat-card-avatar class="card2-header-image"></div>
                        <mat-card-title>{{ 'EVALUACION' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'EVALUACION_SUB' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.evaluations')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div fxFlex=25%>
                <mat-card class="bgtranparent">
                    <mat-card-header>
                        <div mat-card-avatar class="card3-header-image"></div>
                        <mat-card-title>{{ 'CARPETAS_PERS' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'CARPETAS_PERS_SUB' | translate }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.fields')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="pt-50" ngClass.xs="pt-20 pb-20" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-display-1 text-center" style="margin: 0;">{{ 'PARTICIPANTES' | translate }}</h1>
        <!-- <mat-divider [ngStyle.xs]="{ width: '100%'}" [ngStyle]="{ width: '90%'}"></mat-divider> -->
      <div class="pt-30 w-80" ngClass.xs="pt-20 w-100" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
        <a href="https://www.upr.edu.cu/home/index" target="_blank"> <img src="/assets/images/upr.png" width="93" height="108" style="margin:1em"></a>
        <a href="http://www.uh.cu/" target="_blank"> <img src="/assets/images/uh.png" width="93" height="108" style="margin:1em"></a>
        <a href="http://www.lamolina.edu.pe/" target="_blank"> <img src="/assets/images/lamolina.jpg" width="93" height="108" style="margin:1em"></a>
        <a href="https://www.usil.edu.pe/?verified=true" target="_blank"> <img src="/assets/images/usil.png" width="93" height="108" style="margin:1em"></a>
        <a href="https://www.uhasselt.be/en" target="_blank"> <img src="/assets/images/hasselt.png" width="140" height="108" style="margin:1em"></a>
        <a href="https://www.uantwerpen.be/en/" target="_blank"> <img src="/assets/images/antwerpent.png" width="93" height="108" style="margin:1em"></a>
        <a href="https://www.mes.gob.cu/" target="_blank"> <img src="/assets/images/mes.png" width="209" height="68" style="margin:1em"></a>
      </div>
    </div>

    <!-- <mat-card class="mat-elevation-z1 w-70 m-1 mb-1 ligth-green-card">
        <mat-card-title>{{ 'CONTACTE_CON_NOS' | translate }}</mat-card-title>
        <mat-card-content>
            <app-contact></app-contact>
        </mat-card-content>
    </mat-card> -->

</div>
