<div fxLayout="column" fxLayoutAlign="center center">
    <br>
    <br>
    <h1 class="text-center">Portal de Publicaciones Científicas Cubanas</h1>
    <br>
    <br>
    <toco-search-query-input [query]="''" (queryChange)="queryChange($event)" style="width: 70%;"></toco-search-query-input>

    <br>
    <br>
    <div class="w-80" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <div  fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-label class="mat-display-4" style="margin-bottom: 0;">{{ documentTotal }}</mat-label>
            <mat-label class="mat-display-1 text-center" style="margin-left: .5em; margin-bottom: 0;">
                <p style="margin: 0;">Documentos</p>
                <p style="margin: 0;">Recolectados</p>
            </mat-label>
        </div>
        <div class="text-center right-stats">
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Organizaciones</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Organizaciones</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Organizaciones</div>
            </mat-label>
        </div>
    </div>

    <!-- SLIDES -->
    <div class="container">

        <div class="mySlides fade">
          <div class="numbertext">{{ slideIndex }} / 4</div>
          <img src="/assets/images/home/slide/img_nature_wide.jpg" style="width:100%">
          <div class="text">
            Las publicaciones en revistas científicas constituyen un importante indicador empleado para medir el desarrollo de la ciencia y la tecnología en los países.
          </div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">{{ slideIndex }} / 4</div>
          <img src="/assets/images/home/slide/img_snow_wide.jpg" style="width:100%">
          <div class="text">
            Sceiba en el registro, gestión, accesibilidad y evaluación de las publicaciones científicas cubanas.
          </div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">{{ slideIndex }} / 4</div>
          <img src="/assets/images/home/slide/img_mountains_wide.jpg" style="width:100%">
          <div class="text">
            Espacio de colaboración e interrelaciones entre instituciones, investigadores, profesores, editores, bibliotecarios y otros profesionales de Cuba y el resto del mundo.
          </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <img src="/assets/images/home/slide/img_lights_wide.jpg" style="width:100%">
            <div class="text">
                El uso de identificadores persistentes para organizaciones y autores son pilares en la evaluación y para el control y monitoreo de la calidad de los resultados de investigación.
            </div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">
            <mat-icon class="mat-18">navigate_before</mat-icon>
        </a>
        <a class="next" (click)="plusSlides(1)">
            <mat-icon class="mat-18">navigate_next</mat-icon>
        </a>
        <div style="text-align:center; margin-top: -20px;">
          <span class="dot" (click)="currentSlide(1)"></span>
          <span class="dot" (click)="currentSlide(2)"></span>
          <span class="dot" (click)="currentSlide(3)"></span>
          <span class="dot" (click)="currentSlide(4)"></span>
        </div>
    </div>
    

    <div class="w-70 mt-2" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" [ngStyle.xs]="{ width: '100%'}">
        <div class="w-20 mat-h2 primary-color mat-elevation-z2" [ngStyle.xs]="{ width: 'auto'}">
            Sceiba aporta soluciones tecnológicas y sociales que contribuyen al incremento de los contenidos científico tecnológico en las redes cubanas y a su visibilidad internacional. Tributa al mejoramiento de la calidad de la revista científica institucional, viabiliza la adopción del acceso abierto como modelo principal para la comunicación científica y el acceso a la información. Permite implementar un mejor flujo de comunicación, conectar a los actores principales, generalizar líneas de comportamiento y buenas prácticas para lograr los mayores beneficios
        </div>
        <div class="line-vertical" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" [ngStyle.xs]="{ width: '100%'}">
            <div fxLayout="column" class="aling-center" [ngStyle.xs]="{ 'max-width': '100%'}">
                <a href="#" target="_blank" matTooltop="Click para acceder">
                    <img matCardImage src="/assets/images/mes.png" class="w-img" style="width: 224px;">
                </a>
                En la parte derecha irán los productos, con íconos más pequeños y sus descripciones más cortas
            </div>
            <div fxLayout="column" class="aling-center" [ngStyle.xs]="{ 'max-width': '100%'}">
                <a href="#" target="_blank" matTooltop="Click para acceder">
                    <img matCardImage src="/assets/images/home/organizacion.svg" class="w-img">
                </a>
                En la parte derecha irán los productos, con íconos más pequeños y sus descripciones más cortas
            </div>
            <div fxLayout="column" class="aling-center" [ngStyle.xs]="{ 'max-width': '100%'}">
                <a href="#" target="_blank" matTooltop="Click para acceder">
                    <img matCardImage src="/assets/images/home/checklist_icon.png" class="w-img">
                </a>
                En la parte derecha irán los productos, con íconos más pequeños y sus descripciones más cortas
            </div>
            <div fxLayout="column" class="aling-center" [ngStyle.xs]="{ 'max-width': '100%'}">
                <a href="#" target="_blank" matTooltop="Click para acceder">
                    <img matCardImage src="/assets/images/home/archives_icon.png" class="w-img">
                </a>
                En la parte derecha irán los productos, con íconos más pequeños y sus descripciones más cortas
            </div>
        </div>
    </div>


    <div class="container" style="margin: 2em auto;">
        <img src="/assets/images/home/seiba.jpg" alt="" style="width: 100%;">
        <div class="content">
            <h1 class="mat-display-2 text-center" style="margin: 0;"> Próximamente </h1>
            <div fxLayout="column" fxLayoutAlign="center center">
                <p>
                    <strong>• Personas</strong>
                    Sistema de identificación de personas relacionadas con la Investigación en Cuba.
                </p>
                <p>
                    <strong> • Evaluación </strong>
                    Implementación de metodologías propias de evaluación a nivel institucional y otras escalas, desde la conexión entre los resultados y las fuentes, las organizaciones y personas involucradas en las diferentes líneas de investigación.
                </p>
                <p>
                    <strong>• Carpetas personales</strong>
                    Apartados de documentos y suscripciones a temáticas de interés, búsquedas anteriores y mucho más en la personalización de la interacción de los usuarios con Sceiba.
                </p>
            </div>
        </div>
    </div>


    <mat-card class="mat-elevation-z1 w-70 m-1 mb-1">
        <mat-card-title>Contacte con nosotros</mat-card-title>
        <mat-card-content>
            <app-contact></app-contact>
        </mat-card-content>
    </mat-card>

    <mat-divider [ngStyle.xs]="{ width: '100%'}" [ngStyle]="{ width: '90%'}"></mat-divider>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
        <img src="/assets/images/upr.png" width="93" height="108" style="margin:1em">
        <img src="/assets/images/uh.png" width="93" height="108" style="margin:1em">
        <img src="/assets/images/lamolina.jpg" width="93" height="108" style="margin:1em">
        <img src="/assets/images/usil.png" width="93" height="108" style="margin:1em">
        <img src="/assets/images/hasselt.png" width="140" height="108" style="margin:1em">
        <img src="/assets/images/antwerpent.png" width="93" height="108" style="margin:1em">
        <img src="/assets/images/mes.png" width="209" height="68" style="margin:1em">
     </div>
</div>
